* {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

body {
  /*background-image: linear-gradient(rgba(162, 0, 255, 0.8),rgba(247, 0, 255, 0.8));*/
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://wallpaperaccess.com/full/3415037.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100hv;
  overflow: hidden;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}


.container {
  width: 450px;
  background: rgba(255, 255, 255, 0.973);
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  box-shadow: 10px 10px 66px -12px rgba(0, 0, 0, 0.74);
  -webkit-box-shadow: 10px 10px 66px -12px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 10px 10px 66px -12px rgba(0, 0, 0, 0.74);
}

h3 {
  margin-top: 10px;
  color: #f04446;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

.container form {
  transition: 0.5s;
  padding: 16px 24px;
}

p {
  width: 100%;
  margin-top: 20px;
}
p.message {
  text-align: center;
  color: tomato;
  padding-top: 15px;
  margin-top: 0;
}

img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
}

form input {
  width: 100%;
  border: 0;
  outline: none;
  background: transparent;
}

label {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}
.fields {
  color: #646c70;
  border-bottom: 1px solid #019fb6;
  /* margin-bottom: -1px; */
  outline: none;
  width: 100%;
  padding-top: 10px;
}
.fields + span {
  display: block;
  border-bottom: solid 2.3px #019fb6;
  margin-top: -1px;
  width: 0;
  -webkit-transition: width 250ms ease-in-out;
  transition: width 250ms ease-in-out;
}
.fields:focus + span {
  width: 100%;
  -webkit-transition: width 250ms ease-in-out;
  transition: width 250ms ease-in-out;
}

.btn-box {
  width: 100%;
  padding-top: 24px;
  text-align: right;
}

form button {
  width: 110px;
  height: 35px;
  margin: 0 10px;
  background: linear-gradient(to right, #fc1763, #fc115f, #ffab04);
  border-radius: 30px;
  border: 0;
  outline: none;
  color: #fff;
  cursor: pointer;
}

#Form2 {
  display: none;
}

#Form3 {
  display: none;
}

.step-row {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: 0 -1px 5px -1px #000;
  position: relative;
}

.step-col {
  min-width: 150px;
  text-align: center;
  color: #333;
  position: relative;
}

#progress {
  position: absolute;
  height: 100%;
  width: 140px;
  background: linear-gradient(to right, #f0105a, #e71058, #faab0d);
  transition: 1s;
}

#progress::after {
  content: '';
  height: 0;
  width: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  position: absolute;
  right: -20px;
  top: 0;
  border-left: 20px solid #ffad06;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.863);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 80%;
  left: 40%;
  margin-left: -50px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip {
  color: red;
}

.padding {
  width: 80%;
}

.navbar {
  background-color: #ff682d;
  width: 100%;
  box-shadow: 10px 10px 66px -12px rgba(0, 0, 0, 0.74);
  -webkit-box-shadow: 10px 10px 66px -12px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 10px 10px 66px -12px rgba(0, 0, 0, 0.74);
}

.navbar a {
  transition: 0.3s;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  font-weight: 600;
}

.navbar a:hover {
  transition: 0.3s;
  background: #1c7a95;
  color: black;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.float2 {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 25px;
  left: 30px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 28px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  z-index: 100;
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 4.8s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 28px;
  position: relative;
  width: 54px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.theme-switch-wrapper span {
  font-size: larger;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: '';
  height: 20px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 20px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


@media screen and (max-width: 900px) {
  body{
    overflow: initial;
  }
  section {
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    padding: 8px 0;
  }
  .step-col{
    min-width: initial;
    width: calc(100% / 3);
  }
  .container{
    overflow-y: initial;
    width: initial;
  }
  .container form{
    padding: 8px 16px;
  }
  h3{
    margin: 0;
  }
  p.message{
    padding: 4px;
  }
  #progress {
    width: calc(100% / 3)
  }
}